
* {
}

body{
  background-color: black;
  font-family: 'Poppins', sans-serif;
  margin:0px;
  overflow-x: hidden;
  font-size: 14px;
  background-color: black;
}
table{
  width: 97%;
  margin:0px;
}
tr{
  color:aliceblue;
}
#logo{
  background-color: black;
  width: 7%;
}
#socials{
  text-align: right;
  width: 20%;
}
#ennzup{
  margin-right: 1%;
}
#logoimg{
  width: 130px;
  height: auto;
  margin-left: 2%;
  margin-bottom: -2%;
}
#logoimg:hover{
  transform: scale(1.1);
}
#description{
  width: 9%;
  
  height:145vh;
  text-align: center;
}
#selfie{
  height:83vh;
  background-color: black;
  width:79vw;
  text-align: center;
}
#menu{
  height:83vh;
  width: 11.53%;
  vertical-align: top;
}
#blockchain{
  color: dodgerblue;
  font-weight:bold ;
  margin-bottom: -15px;
}
.menutext{
  text-align: right;
  font-size:larger;
  margin-top: 60%;
  margin-left: 50%;
  margin-right: -30%;
  transform: rotate(90deg) ;
  }


#selfieimg{
  position: absolute;
  top: 14.5vh;
  bottom: 0;
  left: 25vw;
  right: 0;
  width:50vw;
  min-width: none;
  height:auto;
  opacity:1;
}

#selfieimg2{
  position: absolute;
  top: 14.5vh;
bottom: 0;
left: 25vw;
right: 0;
  width:50vw;
  min-width: none;
  height:auto;
  background-color: black;

}

#selfieimg2:hover{
  opacity: 0;
}
#ennzu{
  width: 50%;
  text-align: left;
  font-size: 35px;
  color: dodgerblue;
  font-family: 'Poppins', Courier, monospace;
  font-weight:bold ;
  text-decoration: none;
}


a:link { text-decoration: none; color: whitesmoke; }


a:visited { text-decoration: none; color: whitesmoke; }


a:hover { text-decoration: none; color: dodgerblue;}


a:active { text-decoration: none;  }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

svg{
  width:25px;
  fill:dodgerblue;
  padding-right: 1vw;
}

svg:hover{
  fill:antiquewhite;
  text-shadow: black;
}

/* Sink */
.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);}
  
/*
.v105_146 {
width: 100%;
height: 936px;
background: url("../images/v105_146.png"); 
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
margin: 34px;
opacity: 1;
position: relative;
top: 0px;
left: 0px;
overflow: hidden;
}
*/

.v105_147 {
width: 50vw;
height: 70vh;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
margin: 16px;
opacity: 1;
position: absolute;
top: 140vh;
left: 0px;
overflow: hidden;
}

.v105_148 {
  width: 750px;
  color: rgba(0,163,255,1);
  position: absolute;

  left: 59px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 2.5em;
  opacity: 1;
  text-align: left;
}
.v105_149 {
width: 40vw;
font-family: Poppins;
color: white;
position: absolute;
top: 52px;
font-weight:100;
text-align: justify;
left: 59px;
font-size: 1.5em;
text-align: justified;
}
.v105_150 {
width: 50vw;
height: 96vh;;
margin: 32px;
opacity: 1;
position: absolute;
top: 100vh;
left: 50vw;
overflow: hidden;
}

p{
font-weight: bold;
}
.v139_154 {
width: 20vw;
height: 24vw;
background: url("../images/v139_154.png");
background-position: center center;
background-size: cover;
opacity: 1;
position: absolute;
top: calc(50vh - 14vw);
border-top-left-radius: 16px;
border-top-right-radius: 16px;
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
overflow: hidden;
}
.v139_157 {
width: 20vw;
height: 24vw;
background: url("../images/v139_157.png");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
opacity: 1;
position: absolute;
top: calc(76vh - 14vw);
left: 22vw;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
overflow: hidden;
}
.v139_160 {
width: 20vw;
height: 24vw;
background: url("../images/v139_160.png");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
opacity: 1;
position: absolute;
top: calc(30vh - 14vw);
left: 22vw;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
overflow: hidden;
}
.zoom {
transition: transform 1s;
}

.zoom:hover {
transform: translate(0, -20px);
}

@media all and (orientation: portrait) {
.v105_147 {
  width: 98vw;
  top: 105vh;
}
.v105_149 {
  width: 85vw;
  font-size: 2em;
}
.v105_150 {
  width: 85vw;
  height:75vw;
  left: 5vw;
}

.v139_154 {
  width: 25vw;
  height: 30vw;
  left: 1.2vw;
  top: 142vw;
}

.v139_157 {
  width: 25vw;
  height: 30vw;
  left: 29.6vw;
  top: 142vw;

}
.v139_160 {
  width: 25vw;
  height: 30vw;
  left: 58vw;
  top: calc(27vh - 5vw);
  top: 142vw;

}
}

.separator{
height: 10vh;
}

.v105_69 {
  width: 100%;
  height: 2608px;
  background: linear-gradient(rgba(0,0,0,1), rgba(1,2,6,1));
  opacity: 1;
  position: relative;
  top: 33vh;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.v105_70 {
  width:80%;
  height: 60px;
  margin: 10px;
  opacity: 1;
  top: 80px;
  margin-left: 75px;
  margin-top: 40px;
  color: rgba(0,163,255,1);
  font-family: Poppins;
  font-weight: Bold;
  font-size: 2.5em;
  opacity: 1;
  text-align: left;
}
.project {
  width:80%;
  margin: auto;
  height:50vh;
  display:flex;
}
.primages{
  width: 30vw;
  height: 24vw;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin:auto;
  color:whitesmoke;
}
.prtext{
  width: 30vw;
  height: 18vw;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin:auto;
  color:whitesmoke;
}

h3{
  font-size: 30px;
  margin-top:0;

}
.malacon{
  background: url("../public/pr1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.dripclean{
  background: url("../public/pr2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.abelia{
  background: url("../public/pr3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.drippin{
  background: url("../public/pr4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.turtleclub{
  background: url("../public/pr5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.viewbutton{
  font-family: 'Poppins', sans-serif;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-color: dodgerblue;
  background-color:black;
  color:dodgerblue;
  width: 90px;
  height: 30px;
}

.viewbutton:hover{
  border-color: whitesmoke;
  background-color:dodgerblue;
  color:whitesmoke;
  transition: 1s;
  cursor:pointer;
}

.description{
  text-align: justify;
  font-weight: lighter;
  font-size: 19px;
  
}

.year{
}